<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>个人资料</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="../favicon.ico">
	<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../../css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form layui-row">
	<div class="layui-col-md3 layui-col-xs12 user_right">
		<div class="layui-upload-list">
			<img class="layui-upload-img layui-circle userFaceBtn userAvatar" id="userFace">
		</div>
	</div>
	<div class="layui-col-md6 layui-col-xs12">
		<div class="layui-form-item">
			<label class="layui-form-label">用户名</label>
			<div class="layui-input-block">
				<input type="text" value="" id="userName" disabled class="layui-input layui-disabled">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">用户组</label>
			<div class="layui-input-block">
				<input type="text" value="" id="userTeam" disabled class="layui-input layui-disabled">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">系统角色</label>
			<div class="layui-input-block">
				<input type="text" value="" id="systemRole" disabled="disabled"  class="layui-input realName">
			</div>
		</div>
		
		<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">所在部门</label>
					<div class="layui-input-inline">
						<input type="text" value="" id="dept" disabled class="layui-input layui-disabled">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">上级领导</label>
					<div class="layui-input-inline">
						<input type="text" value="" id="mgr" disabled class="layui-input layui-disabled">
					</div>
				</div>
		</div>
		
		<div class="layui-form-item" pane="">
			<label class="layui-form-label">性别</label>
			<div class="layui-input-block ">
				<input type="text" name="sex" value="" id="sex" disabled="disabled" class="layui-input layui-disabled" >
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">手机号码</label>
			<div class="layui-input-block">
				<input type="tel" value="" disabled="disabled" id="phone"  class="layui-input userPhone">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">入职时间</label>
			<div class="layui-input-block">
				<input type="text" value="" disabled="disabled" id="time" readonly class="layui-input userBirthday">
			</div>
		</div>
	
		<div class="layui-form-item">
			<label class="layui-form-label">邮箱</label>
			<div class="layui-input-block">
				<input type="text" value="" disabled="disabled" id="email"  class="layui-input userEmail">
			</div>
		</div>
		
	</div>
</form>
<script type="text/javascript" src="../../layui/layui.js"></script>
<!-- <script type="text/javascript" src="userInfo.js"></script> -->
<script type="text/javascript" src="../../js/cacheUserInfo.js"></script>
<script type="text/javascript">
layui.use(['jquery','form','table','layer','laydate'],function(){
		var $=layui.jquery;
		var form=layui.form;
		var table=layui.table;
		var layer=layui.layer;
		var laydate=layui.laydate;
		
		//用户名
		var userName = '[[${name}]]' ;
		$("#userName").val(userName) ;
		//用户组
		var userTeam = '[[${address}]]' ;
		$("#userTeam").val(userTeam) ;
		//系统角色
		var systemUser = '[[${remark}]]' ;
		$("#systemRole").val(systemUser) ;
		//所在部门
		var dept = '[[${deptTitle}]]' ;
		$("#dept").val(dept) ;
		//上级领导
		var mgr = '[[${mgr}]]' ;
		$("#mgr").val(mgr) ;
		//性别
		var sex = '[[${sex}]]' ;
		$("#sex").val(sex) ;
		//手机号码
		var tel = '[[${phone}]]' ;
		$("#phone").val(tel) ;
		//入职时间
		var hiredate = '[[${hiredate}]]' ;
		var formatDate = date(hiredate) ;
		$("#time").val(formatDate) ;
		//邮箱
		var userEimal = '[[${email}]]' ;
		$("#email").val(userEimal) ;
		
		//修改时间函数
		function date(datetime){
			var dates = new Date(datetime);
			var y = dates.getFullYear();
			var m = dates.getMonth() + 1;
			var d = dates.getDate();
			var h = dates.getHours();
			var mi = dates.getMinutes();
			m = m > 9 ? m : '0' + m;
			var second=dates.getSeconds();
            second=second < 10 ? ('0' + second) : second;
			return y + '-' + m + '-' + d + ' ' + h + ':' + mi + ':'+ second ;
	
		}
		
	});
</script>
</body>
</html>