<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>菜单管理</title>
<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="../favicon.ico">
	<link rel="stylesheet" href="/../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/../css/public.css" media="all" />
</head>
	<frameset cols="200,*" border="1" frameborder="yes">
		<frame src="/sysmenu/menuLeft" name="left">
		<frame src="/sysmenu/menuRight" name="right">	
	</frameset>
</html>